PointerAlignment: Right
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
SpaceAfterCStyleCast: true
AccessModifierOffset: -4
ColumnLimit: 140
IndentWidth: 4
NamespaceIndentation: All